.filmsWrapp {
  margin-bottom: 30px;
}
.titleListFilms {
  text-align: center;
  margin-top: 20px;
}

.filmsListHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.listFilms {
  margin-top: 50px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 9px 13px 0 rgba(0, 0, 0, 0.19);
}

.btnSotr {
  appearance: none;
  border: 0;
  background: #e7e7e7;
  border-radius: 5px;
  color: black;
  padding: 8px 16px;
  font-size: 16px;
  opacity: 0.9;
  margin-bottom: 10px;

  &:hover {
    background: #a8a8a8;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24),
      0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  &:focus {
    outline: none;
  }
}

.modalWindow {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}

.modalContent {
  margin: 300px auto;
  border-radius: 5px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.24), 0 9px 13px 0 rgba(0, 0, 0, 0.19);
}



.paginationWrap {
    display: flex;
  flex-direction: column;
margin-top: auto;
  align-items: center;
}
